@media (min-width:768px) {
    .news-input{
        width: 50%;
    }
}

.social-icons i bi-twitter,
bi-facebook,
bi-youtube{
    font-size: 10px;
}
.social-icons bi-twitter:hover{
    color: rgb(26, 146, 243);
}
