body{
    background: rgb(100, 100, 100);
    color: rgb(223, 149, 13);
    font-family: poppins;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first,
.second,
.third,
.fourth{
margin: 50px;
cursor: pointer;
border-radius: 12px;
width: 250px;

}
.first:hover,
.second:hover,
.third:hover,
.fourth:hover{
background: yellow;
transition: .5s;

}
.first{
    border: yellow 1px solid;
    padding: 10px;
    flex:2;
}
.second{
    border: yellow 1px solid;    padding: 10px;
    flex: 1;
}
.third{
    border: yellow 1px solid;    padding: 10px;
    flex: 1;
}
.fourth{
    border: yellow 1px solid;    padding: 10px;
    flex: 2;
}